/parer-kettle-model/target/
/parer-kettle-jpa/target/
/parer-kettle-service/target/
/parer-kettle-server/target/
/parer-kettle-soap-client/target/
/parer-kettle-server/nb-configuration.xml
/parer-kettle-soap/target/
/parer-kettle-rest/target/
/parer-kettle-rest-client/target/
/nb-configuration.xml
/parer-kettle-jpa/nb-configuration.xml
/parer-kettle-model/nb-configuration.xml
/parer-kettle-rest-client/nb-configuration.xml
/parer-kettle-rest/nb-configuration.xml
/parer-kettle-service/nb-configuration.xml
/parer-kettle-soap-client/nb-configuration.xml
/parer-kettle-soap/nb-configuration.xml
/target/
nbactions.xml
